In [85]:
import sys
sys.path.append("../..")

In [86]:
import pandas as pd
from survival.utils import lower_case

In [87]:
# column names for reference
columns = [
    'geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude',
    'feature_class', 'feature_code', 'country_code', 'cc2', 'admin1_code',
    'admin2_code', 'admin3_code', 'admin4_code', 'population', 'elevation',
    'dem', 'timezone', 'modification_date'
]

In [88]:
# load data
cities = pd.read_csv('../../data/raw/cities500.txt', sep='\t', header=None, names=columns, usecols=['name', 'latitude', 'longitude', 'country_code'])
nl = pd.read_csv('../../data/raw/NL.txt', sep='\t', header=None, names=columns, usecols=['name', 'alternatenames', 'feature_code', 'latitude', 'longitude', 'country_code'])
countries = pd.read_csv('../../data/raw/allCountries.txt', sep='\t', header=None, names=columns, usecols=['feature_code', 'latitude', 'longitude', 'country_code'])

In [89]:
lower_case(nl)
lower_case(cities)
lower_case(countries)

          latitude  longitude feature_code country_code
0         42.58765    1.74180           pk           ad
1         42.52535    1.73343           pk           ad
2         42.52915    1.73362           lk           ad
3         42.62568    1.61823         pass           ad
4         42.60000    1.73333         pass           ad
...            ...        ...          ...          ...
13004877  -6.30607  125.51837          smu          NaN
13004878  -8.06415  114.51922         hllu          NaN
13004879  32.18985   34.97129         fire          NaN
13004880  32.22261   35.26492         fire          NaN
13004881  31.69693   35.18975         fire          NaN

[13004882 rows x 4 columns]

In [90]:
# where in alternatenames bergen (l.), change gemeente bergen to bergen (l.), where in alternatenames bergen (nh), change gemeente bergen to bergen (nh)
nl.loc[(nl['latitude'] == 52.65783), 'name'] = 'bergen (nh.)'
nl.loc[(nl['latitude'] == 51.57717), 'name'] = 'bergen (l.)'

# change name of súdwest-fryslân
nl.loc[nl['name'] == 'sûdwest fryslân', 'name'] = 'súdwest-fryslân'

In [93]:
# get pcli from countries
countries = countries[countries['feature_code'] == 'pcli']
countries = countries.drop(columns=['feature_code'])

In [94]:
nl.to_csv('../../data/processed/nl.csv', index=False)
cities.to_csv('../../data/processed/cities.csv', index=False)
countries.to_csv('../../data/processed/countries.csv', index=False)