In [73]:
import sys
sys.path.append("../..")

In [74]:
import pandas as pd
from survival.utils import lower_case

In [75]:
# column names for reference
columns = [
    'geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude',
    'feature_class', 'feature_code', 'country_code', 'cc2', 'admin1_code',
    'admin2_code', 'admin3_code', 'admin4_code', 'population', 'elevation',
    'dem', 'timezone', 'modification_date'
]

In [76]:
# load data
cities = pd.read_csv('../../data/raw/cities500.txt', sep='\t', header=None, names=columns, usecols=['name', 'latitude', 'longitude', 'country_code'])
nl = pd.read_csv('../../data/raw/NL.txt', sep='\t', header=None, names=columns, usecols=['name', 'alternatenames', 'feature_code', 'latitude', 'longitude', 'country_code'])

In [77]:
lower_case(nl)
lower_case(cities)

                          name  latitude  longitude country_code
0                         vila  42.53176    1.56654           ad
1                       soldeu  42.57688    1.66769           ad
2                      sispony  42.53368    1.51613           ad
3                    el tarter  42.57952    1.65362           ad
4          sant julià de lòria  42.46372    1.49129           ad
...                        ...       ...        ...          ...
213594                  banket -17.38333   30.40000           zw
213595                 epworth -17.89000   31.14750           zw
213596             chitungwiza -18.01274   31.07555           zw
213597  harare western suburbs -17.84150   30.87674           zw
213598           mhangura mine -16.89196   30.15902           zw

[213599 rows x 4 columns]

In [79]:
# where in alternatenames bergen (l.), change gemeente bergen to bergen (l.), where in alternatenames bergen (nh), change gemeente bergen to bergen (nh)
nl.loc[(nl['latitude'] == 52.65783), 'name'] = 'bergen (nh.)'
nl.loc[(nl['latitude'] == 51.57717), 'name'] = 'bergen (l.)'

# change name of súdwest-fryslân
nl.loc[nl['name'] == 'sûdwest fryslân', 'name'] = 'súdwest-fryslân'

In [80]:
nl.to_csv('../../data/processed/nl.csv', index=False)
cities.to_csv('../../data/processed/cities.csv', index=False)