In [29]:
import sys
sys.path.append("../..")

In [30]:
import pandas as pd
from survival.utils import lower_case

In [31]:
# column names for reference
columns = [
    'geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 'longitude',
    'feature_class', 'feature_code', 'country_code', 'cc2', 'admin1_code',
    'admin2_code', 'admin3_code', 'admin4_code', 'population', 'elevation',
    'dem', 'timezone', 'modification_date'
]

In [39]:
# load data
cities = pd.read_csv('../../data/raw/cities500.txt', sep='\t', header=None, names=columns, usecols=['name', 'latitude', 'longitude', 'country_code'])
nl = pd.read_csv('../../data/raw/NL.txt', sep='\t', header=None, names=columns, usecols=['name', 'alternatenames', 'feature_code', 'latitude', 'longitude', 'country_code'])
countries = pd.read_csv('../../data/raw/allCountries.txt', sep='\t', header=None, names=columns, usecols=['name', 'feature_code', 'latitude', 'longitude', 'country_code'])
postalcode = pd.read_csv('../../data/raw/NLzipcode.txt', sep='\t', header=None, names=['country_code', 'pc_4', 'place_name', 'admin_name1', 'admin_code1', 'admin_name2', 'admin_code2', 'admin_name3', 'admin_code3', 'latitude', 'longitude', 'accuracy'], usecols=['country_code', 'pc_4', 'place_name', 'admin_name1', 'latitude', 'longitude'])

In [40]:
lower_case(nl)
lower_case(cities)
lower_case(countries)
lower_case(postalcode)

     country_code  pc_4 place_name admin_name1  latitude  longitude
0              nl  9401      assen     drenthe   52.9939     6.5625
1              nl  9402      assen     drenthe   53.0040     6.5590
2              nl  9403      assen     drenthe   53.0147     6.5858
3              nl  9404      assen     drenthe   52.9867     6.5762
4              nl  9405      assen     drenthe   52.9861     6.5295
...           ...   ...        ...         ...       ...        ...
4329           nl  8241   lelystad   flevoland   52.5390     5.4569
4330           nl  8242   lelystad   flevoland   52.5206     5.4477
4331           nl  8243   lelystad   flevoland   52.5059     5.4480
4332           nl  8244   lelystad   flevoland   52.4972     5.4195
4333           nl  8245   lelystad   flevoland   52.4930     5.4541

[4334 rows x 6 columns]

In [34]:
# compare which place_name of zipcode are in cities['name']
len(set(postalcode['place_name']).difference(set(cities['name'])))

1085

In [35]:
nl[nl['name'].str.contains('bergen')]

,name,alternatenames,latitude,longitude,feature_code,country_code
25,zwijnsbergen,NaN,51.52667,5.50694,ppl,nl
26,zwijnsbergen,NaN,51.64222,5.22194,est,nl
96,zwarte bergen,NaN,51.65000,6.01667,hth,nl
463,zevenbergen,NaN,51.73000,5.57500,ppl,nl
464,zevenbergen,"zevenbergen,ze fen bei heng,zefenberugen,зевен...",51.64500,4.60417,ppl,nl
...,...,...,...,...,...,...
20708,bp tankstation (laan van spitsbergen),NaN,52.20100,5.93033,fcl,nl
21273,ac restaurant beekbergen,NaN,52.16940,6.02744,rest,nl
21313,hotel zandbergen,NaN,52.35550,4.86920,htl,nl
21900,speelland beekse bergen,NaN,51.51957,5.10968,amus,nl
21968,minotel zandbergen,NaN,52.35545,4.86917,htl,nl

In [36]:
postalcode[postalcode['place_name'].str.contains('afferden')]

     country_code  postal_code  place_name admin_name1  latitude  longitude
899            nl         6654    afferden    guelders   51.8804     5.6332
1573           nl         5851  afferden l     limburg   51.6357     6.0165

In [37]:
# where in alternatenames bergen (l.), change gemeente bergen to bergen (l.), where in alternatenames bergen (nh), change gemeente bergen to bergen (nh)
nl.loc[(nl['latitude'] == 52.65783), 'name'] = 'bergen (nh.)'
nl.loc[(nl['latitude'] == 51.57717), 'name'] = 'bergen (l.)'

# change name of súdwest-fryslân
nl.loc[nl['name'] == 'sûdwest fryslân', 'name'] = 'súdwest-fryslân'

In [41]:
nl.to_csv('../../data/processed/nl.csv', index=False)
cities.to_csv('../../data/processed/cities.csv', index=False)
countries.to_csv('../../data/processed/countries.csv', index=False)
postalcode.to_csv('../../data/processed/postalcode.csv', index=False)