In [8]:
# import libraries
import pandas as pd

In [9]:
# load the data
hh = pd.read_csv('../../data/raw/huishoudinkomen2021.csv', sep=';')

In [10]:
# retain only necessary colums
hh = hh[["Regio's" ,"Inkomen/Gemiddeld besteedbaar inkomen (1 000 euro)"]]

# rename columns
hh.columns = ['municipality', 'avg_income']

In [11]:
# all string to lower case
def lower_case(data):
    for col in data.columns:
        if data[col].dtype == 'object':
            data[col] = data[col].str.lower()
    return data

hh = lower_case(hh)

In [16]:
# change avg_income to a suitable format
hh['avg_income'] = hh['avg_income'].str.replace(',', '.').astype(float)

In [18]:
replace_dict = {
    'nuenen, gerwen en nederwetten': 'nuenen',
    'beek (l.)': 'beek',
    'groningen (gemeente)': 'groningen',
    'hengelo (o.)': 'hengelo',
    'laren (nh.)': 'laren',
    "'s-gravenhage (gemeente)": 'den haag',
    'middelburg (z.)': 'middelburg',
    'rijswijk (zh.)': 'rijswijk',
    'stein (l.)': 'stein',
    'utrecht (gemeente)': 'utrecht'
}

for old_name, new_name in replace_dict.items():
    hh.loc[hh['municipality'] == old_name, 'municipality'] = new_name

        municipality  avg_income
0        aa en hunze        51.6
1           aalsmeer        61.2
2             aalten        48.0
3      achtkarspelen        44.1
4       alblasserdam        50.4
..               ...         ...
337          zundert        52.6
338          zutphen        44.4
339  zwartewaterland        54.5
340      zwijndrecht        47.0
341           zwolle        46.0

[342 rows x 2 columns]

In [20]:
# to csv
hh.to_csv('../../data/processed/hh_clean.csv', index=False)