In [9]:
import sys
sys.path.append('../..')

In [10]:
# import libraries and custom modules
import pandas as pd
from survival.utils import lower_case

In [11]:
# load data
income = pd.read_csv('../../data/raw/median-income-by-country-2024.csv')

In [5]:
# select columns and rename for convenience
income = income[['country', 'MedianIncome_GDPPPP_IntDollars']]
income.columns = ['country_code', 'median_income']

In [6]:
# change country_code names to country_code codes
from survival.constants import country_codes_income_dict

income['country_code'] = income['country_code'].map(country_codes_income_dict)

/var/folders/_f/94p4d0y142132_pd6nn9gqc40000gn/T/ipykernel_73240/743116847.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income['country_code'] = income['country_code'].map(country_codes_income_dict)

In [7]:
# divide median income by 1000 and transform to lower case
income['median_income'] = income['median_income'] / 1000
lower_case(income)

/var/folders/_f/94p4d0y142132_pd6nn9gqc40000gn/T/ipykernel_73240/736602039.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income['median_income'] = income['median_income'] / 1000
/Users/bing/Documents/survival/src/notebooks/cleaning/../../survival/utils.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].str.lower()

    country_code  median_income
0             in         10.176
1             cn         24.558
2             us         81.695
3             id         15.613
4             pk          6.212
..           ...            ...
160           ki          3.522
161           sc         32.694
162           fm          4.217
163           to          7.016
164           tv          5.764

[165 rows x 2 columns]

In [8]:
# export to csv
income.to_csv('../../data/processed/income.csv', index=False)